@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative);

body {
  font-family: 'Noto Sans Japanese', serif;
  font-size: 17px;
  color: #fff;
  padding-top: 70px;
  background-color: #f8e2e7;
}
.clickable {
    cursor: pointer;
}
.modal-dialog-center {
  padding-top: 5%;
  padding-bottom: 5%;
}

body.modal-open {
    overflow: hidden;
    z-index: 100000;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

#above-header {
  background-color: #ff6699;
  z-index: 2;
  position: fixed;
  top:0px;
  height: 5px;
}

#header {
  font-family: 'Cinzel Decorative', cursive;
  font-weight:900;
  z-index: 10000;
  position: fixed;
  top:0px;
  left:0px;
  padding-top: 1.0em;
  padding-bottom: 1.0em;
  height: 3.5em;
  width: 100%;
  color: #ff6699;
  background-color: #fff;
  font-size: 0.9em;
  text-align:center;
  vertical-align: bottom;
  border-color: #ff6699;
  border-top-style: solid;
  border-width: thick;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}
#header a:link { color: #ff6699; }
#header a:visited { color: #ff6699; }
#header a:hover { color: #ff6699; }
#header a:active { color: #ff6699; }

#hooter {
  font-family: 'Cinzel Decorative', cursive;
  font-weight:300;
  z-index: 3000;
  position: relative;
  color: #ff6699;
  background-color: #fff;
  font-size: 0.6em;
  text-align:center;
  padding: 5px;
  border-color: #ff6699;
  border-top-style: solid;
  border-width: thick;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  margin-top: 10px;
  line-height: 10px;
  bottom: 0;
  width: 100%;
  position: fixed;
}
#hooter a:link { color: #ff6699; }
#hooter a:visited { color: #ff6699; }
#hooter a:hover { color: #ff6699; }
#hooter a:active { color: #ff6699; }

#top-right-header {
  z-index: 2;
  position: fixed;
  top: 5px;
  right: 10%;
}

div.navbar-collapse.collapse {
  line-height: 10px; /* There is a little space appearing at the
                        bottom, you can adjust it with this value */
  text-align: center;
}

ul.nav.navbar-nav {
  display: inline-block;
  float: none;
}

.navigation-hover:hover {
  color: #fccf26;
}

.self-nav {
  font-family: 'Cinzel Decorative', cursive;
  color: #333333;
  font-weight:900;
  font-size: 0.8em;
}

.middle-slide {
  font-family: 'Noto Sans Japanese', serif;
  font-weight:600;
  margin-top: 2.0em;
  margin-bottom: 2.0em;
}
.carousel-caption {
  font-family: 'Noto Sans Japanese', serif;
  text-shadow: 2px 2px 1px #333,
  -2px 2px 1px #333,
  2px -2px 1px #333,
  -2px -2px 1px #333;
}
.small-caption {
  font-family: 'Noto Sans Japanese', serif;
  color: #ff6699;
  text-shadow: .08em .08em 0 #000;
}
.small-caption:hover {
  font-family: 'Noto Sans Japanese', serif;
  color: #ff6699;
  text-shadow: .08em .08em 0 #000;
}
.small-caption:link {
  font-family: 'Noto Sans Japanese', serif;
  color: #ff6699;
  text-shadow: .08em .08em 0 #000;
}
.small-caption:visited {
  font-family: 'Noto Sans Japanese', serif;
  color: #ff6699;
  text-shadow: .08em .08em 0 #000;
}
.small-caption:active {
  font-family: 'Noto Sans Japanese', serif;
  color: #ff6699;
  text-shadow: .08em .08em 0 #000;
}

.one-small-caption {
  font-family: 'Noto Sans Japanese', serif;
  color: #696969;
  text-shadow: .08em .08em 0 #808080;
}
.one-small-caption:hover {
  font-family: 'Noto Sans Japanese', serif;
  color: #696969;
  text-shadow: .08em .08em 0 #808080;
}
.one-small-caption:link {
  font-family: 'Noto Sans Japanese', serif;
  color: #696969;
  text-shadow: .08em .08em 0 #808080;
}
.one-small-caption:visited {
  font-family: 'Noto Sans Japanese', serif;
  color: #696969;
  text-shadow: .08em .08em 0 #808080;
}
.one-small-caption:active {
  font-family: 'Noto Sans Japanese', serif;
  color: #696969;
  text-shadow: .08em .08em 0 #808080;
}



.big-caption {
  font-family: 'Noto Sans Japanese', serif;
  color: #FFD700;
  font-size: 4.0em;
  text-shadow: .08em .08em 0 #000;
}
.big-caption:hover {
  font-family: 'Noto Sans Japanese', serif;
  color: #FFD700;
  text-shadow: .08em .08em 0 #000;
}
.big-caption:link {
  font-family: 'Noto Sans Japanese', serif;
  color: #FFD700;
  text-shadow: .08em .08em 0 #000;
}
.big-caption:visited {
  font-family: 'Noto Sans Japanese', serif;
  color: #FFD700;
  text-shadow: .08em .08em 0 #000;
}
.big-caption:active {
  font-family: 'Noto Sans Japanese', serif;
  color: #FFD700;
  text-shadow: .08em .08em 0 #000;
}
.carousel-image {
  width: 100%;
  height:100%;
}
#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #fff;
  z-index: 4000;
}
#loader {
  display: none;
  position: fixed;
  font-family: 'Cinzel Decorative', cursive;
  font-weight:300;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #ff6699;
  z-index: 5000;
}
.box {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  right auto;
}

/*
.btn {
    background: -moz-linear-gradient(top,#0099CC 0%,#006699);
    background: -webkit-gradient(linear, left top, left bottom, from(#0099CC), to(#006699));
    border: 1px solid #DDD;
    color:#FFF;
    width: 100px;
    padding: 10px 0;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
*/
.block-profile {
    color: #fff;
    background: #3cb371;
    padding: 10px;
    border: 2px dashed rgba(255,255,255,0.5);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0 0 0 5px #3cb371, 0 2px 3px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 0 5px #3cb371, 0 2px 3px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 0 5px #3cb371, 0 2px 3px 5px rgba(0,0,0,0.5);
}

/* Base Button Style */
.btn {
  position: relative;
  display: block;
  width: 250px;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transform-style: flat;
  transition: all 250ms ease-out;
}
.btn:before, .btn:after {
  content: "";
  position: absolute;
  z-index: -2;
  transition: all 250ms ease-out;
}

/* Paper effect – slightly raised off background */
.paper {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border-color: #dedede;
  background-color: #65c0c3;
  color: white;
}
.paper-curl-right:before,
.paper-curl-right:after {
  bottom: 12px;
  width: 50%;
  height: 55%;
  max-width: 200px;
  max-height: 100px;
  box-shadow: 1px 8px 12px rgba(31, 31, 31, 0.6);
}
.paper-curl-right:before {
  left: 10px;
}
.paper-curl-right:after {
  right: 10px;
}
.paper-curl-right:hover:before,
.paper-curl-right:hover:after {
  box-shadow: 1px 8px 12px rgba(31, 31, 31, 0.8);
}
.paper-curl-right:hover:before {
  transform: skew(-8deg) rotate(-3deg);
}
.paper-curl-right:hover:after {
  transform: skew(8deg) rotate(3deg);
}
.paper-curl-right:before {
  display: none;
}
.paper-curl-right:hover {
  border-radius: 0 0 40% 0 / 0 0 30% 0;
  color: #fccf26;
}

.box-profile {
  width: 80%;
  max-width: 800px;
  /*height: 20%;*/
  padding: 5px;
  margin-bottom: 2.5em;
  margin-left:auto;
  margin-right:auto;
}
.profile-block-right, .profile-block-left {
  float: left;
}
.box-profile-pic{
  width: 100%;
  /*height: 100%;*/
  padding: 10px;
  margin-left: 10px;
  vertical-align: middle;
  background: linear-gradient(left, #d5def6 0%, #9bf2d6 100%);
  background: -webkit-linear-gradient(left, #d5def6 0%, #9bf2d6 100%);
  background: -moz-linear-gradient(left, #d5def6 0%, #9bf2d6 100%);
  background: -o-linear-gradient(left, #d5def6 0%, #9bf2d6 100%);
  background: -ms-linear-gradient(left, #d5def6 0%, #9bf2d6 100%);
}
.box-stop{
  clear: both;
}
.profile-box {
  float: left;
}

.company-name {
  margin: 10%;
  text-align: center;
  font-family: 'Noto Sans Japanese', serif;
  font-size: 30px;
  color: #333333;
}
.company-detail {
  margin: 10%;
  text-align: center;
  font-family: 'Noto Sans Japanese', serif;
  font-size: 30px;
  color: #333333;
}
.company-content {
  margin: 10%;
  text-align: center;
  font-family: 'Noto Sans Japanese', serif;
  font-size: 30px;
  color: #333333;
}

.modal-top-message {
  font-family: 'Noto Sans Japanese', serif;
  font-size: 16px;
  color: #383838;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  border-bottom: 2px dotted gray;
}
.modal-top-message:hover {
  font-family: 'Noto Sans Japanese', serif;
  color: #65c0c3;
  text-decoration: none;
}
.modal-top-message:link {
  font-family: 'Noto Sans Japanese', serif;
  color: #383838;
  text-decoration: none;
}
.modal-top-message:visited {
  font-family: 'Noto Sans Japanese', serif;
  color: #383838;
  text-decoration: none;
}
.modal-top-message:active {
  font-family: 'Noto Sans Japanese', serif;
  color: #383838;
  text-decoration: none;
}
.modal-character {
  font-family: 'Noto Sans Japanese', serif;
  color: #383838;
}
.modal-character:hover {
  font-family: 'Noto Sans Japanese', serif;
  color: #65c0c3;
}
.modal-original-content {
  color: #383838;
  text-decoration: none;
}
.modal-original-content img {
  padding-left:auto;
  padding-right:auto;
}

.nav-detail-icon:hover {
  color: #fccf26;
}
.sponsor {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4.5em;
}
.sponsor ul {
  font-size: 0;
}
.sponsor li {
  display: inline-block;
}
.sponsor-img {
  width: 280px;
  height: 100px;
}

.profile-div {
  float: left;
  text-align: center;
  margin-top: 0em;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 4.5em;
}

.profile-modal {
  font-family: 'Noto Sans Japanese', serif;
  float: left;
}

.profile-modal-body {
  color: #383838;
  height: auto;
  width: auto;
}

.bar-detail {
  font-family: 'Noto Sans Japanese', serif;
  font-size: 17px;
  color: #666;
  padding-top: 70px;
  background-color: #f8e2e7;
}

.company-creed {
  margin-top: 50px;
  margin-bottom: 80px;
  text-align: center;
  color: black;
  font-family: 'Noto Sans Japanese', serif;
}

.company-creed-img-top {
  margin-bottom: 20px;
  text-align: center;
  width: 200px;
  height: auto;
}

.company-creed-img-bottom {
  margin-top: 20px;
  text-align: center;
  width: 200px;
  height: auto;
}

.company-top-message {
  font-family: 'Noto Sans Japanese', serif;
  font-size: 16px;
  color: #383838;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  border-bottom: 2px dotted gray;
}
.company-top-message:hover {
  font-family: 'Noto Sans Japanese', serif;
  color: #333;
  text-decoration: none;
}
.company-top-message:link {
  font-family: 'Noto Sans Japanese', serif;
  color: #333;
  text-decoration: none;
}
.company-top-message:visited {
  font-family: 'Noto Sans Japanese', serif;
  color: #333;
  text-decoration: none;
}
.company-top-message:active {
  font-family: 'Noto Sans Japanese', serif;
  color: #333;
  text-decoration: none;
}

.company-top-line-message {
  font-family: 'Noto Sans Japanese', serif;
  font-size: 16px;
  color: #383838;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  border-bottom: 3px solid black;
}
.company-top-line-message:hover {
  font-family: 'Noto Sans Japanese', serif;
  color: #333;
  text-decoration: none;
}
.company-top-line-message:link {
  font-family: 'Noto Sans Japanese', serif;
  color: #333;
  text-decoration: none;
}
.company-top-line-message:visited {
  font-family: 'Noto Sans Japanese', serif;
  color: #333;
  text-decoration: none;
}
.company-top-line-message:active {
  font-family: 'Noto Sans Japanese', serif;
  color: #333;
  text-decoration: none;
}

.creed {
  font-family: 'Noto Sans Japanese', serif;
  color: #333;
  text-decoration: none;
  font-size: 30px;
}

.event-pic {
  width:  100%;
  /*height:  1100px;*/
  background-image: url("../images/bar.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  -moz-background-size:  cover;
  background-size: cover;
  z-index: 2;
}

.eventLayerTransparentTopMessages {
	/*background-color: rgba(0,0,0,0.2);*/
	height: 700px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 1px #666,
  -2px 2px 1px #666,
  2px -2px 1px #666,
  -2px -2px 1px #666;
  padding-left: 20px;
  padding-top: 20px;
}

.barName{
  font-size: 20px;
  font-style: italic;
  text-shadow: 2px 2px 1px #daa520,
  -2px 2px 1px #daa520,
  2px -2px 1px #daa520,
  -2px -2px 1px #daa520;
}

.identification {
  color:red;
  text-shadow: none;
}

.shop-table {
  margin-top: 30px;
}


table.price {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 1px 0;
    font-size: 15px;
}
table.price th,
table.price td {
    padding: 10px;
}
table.price th {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4) inset;
    background: rgba(0,0,0,0.4);
    vertical-align: middle;
    text-align: center;
    width: 125px;
    height: 50px;
    position: relative;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-size: 24px;
}

table.price th.c1 {
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 1%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 1%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.4) 1%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.4) 1%,rgba(0,0,0,0.4) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.4) 1%,rgba(0,0,0,0.4) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61ae24', endColorstr='#569b20',GradientType=0 ); /* IE6-9 */*/
}

table.price th.c2 {
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 1%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 1%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.4) 1%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.4) 1%,rgba(0,0,0,0.4) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.4) 1%,rgba(0,0,0,0.4) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc1445', endColorstr='#b6113d',GradientType=0 ); /* IE6-9 */*/
}

table.price th:after {
    top: 69px;
    left: 5px;
    content: &quot;&quot;;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 78px solid transparent;
}
/* firefox */
@-moz-document url-prefix() {
    table.price th {
        text-indent: 10px;
    }
    table.price th::after {
        padding: 0;
        top: 60px;
        left: 0;
        content: &quot;&quot;;
        height: 0;
        width: 0;
        position: relative;
        pointer-events: none;
        border: 50px solid transparent;
        border-top: #B7D567 15px solid;
    }
}

table.price th.c1:after {
    border-top: black 15px solid;
}
table.price th.c2:after {
    border-top: black 15px solid;
}

table.price td {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4) inset;
    text-align: center;
    padding-top: 15px;
    border: none;
    height: 70px;
}

table.price tr:nth-child(2n+1) td.c1 {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4) inset;
    background: rgba(0,0,0,0.4);
}
table.price tr:nth-child(2n+0) td.c1 {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4) inset;
    background: rgba(0,0,0,0.4);
}

table.price tr:nth-child(2n+1) td.c2 {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4) inset;
    background: rgba(0,0,0,0.4);
}
table.price tr:nth-child(2n+0) td.c2 {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4) inset;
    background: rgba(0,0,0,0.4);
}

table.price tr:last-child td {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4) inset;
}


.banner {
  margin: 10px;
  overflow: hidden;
  position: relative;
}

.banner ul {
  list-style: none outside none;
  float: left;
  margin: 0 0 0 0;
  padding: 0;
  position: relative;
  left: 50%;
}
.banner ul li {
  float: left;
  margin-right: 5px;
  padding: 5px;
  position: relative;
  left: -50%;
  width: 350px;
  height: 250px;
}

.review-title {
  font-size:20px;
  text-align: center;
}
.review-content {
  font-size:15px;
}

@media screen and (max-width: 1000px) {
  .big-caption {
    font-family: 'Noto Sans Japanese', serif;
    color: #FFD700;
    font-size: 3.0em;
    text-shadow: .08em .08em 0 #000;
  }
}
@media screen and (max-width: 768px) {

  .big-caption {
    font-family: 'Noto Sans Japanese', serif;
    color: #FFD700;
    font-size: 3.0em;
    text-shadow: .08em .08em 0 #000;
  }


  .banner {
    margin-left: 220px;
    overflow: hidden;
    position: relative;
  }

  .banner ul {
    list-style: none outside none;
    float: left;
    margin: 0 0 0 0;
    padding: 0;
    position: relative;
    left: 50%;
  }
  .banner ul li {
    float: left;
    margin-right: 5px;
    padding: 5px;
    position: relative;
    left: -50%;
    width: 350px;
    height: 250px;
  }
}

@media screen and (max-width: 640px) {
  .big-caption {
    font-family: 'Noto Sans Japanese', serif;
    color: #FFD700;
    font-size: 2.0em;
    text-shadow: .08em .08em 0 #000;
  }
.review-title {
  font-size:16px;
  text-align: center;
}
.review-content {
  font-size:13px;
}

.banner {
  margin-left: 140px;
  overflow: hidden;
  position: relative;
}

.banner ul {
  list-style: none outside none;
  float: left;
  margin: 0 0 0 0;
  padding: 0;
  position: relative;
  left: 50%;
}
.banner ul li {
  float: left;
  margin-right: 5px;
  padding: 5px;
  position: relative;
  left: -50%;
  width: 350px;
  height: 250px;
}
}
@media screen and (max-width: 479px) {
  .big-caption {
    font-family: 'Noto Sans Japanese', serif;
    color: #FFD700;
    font-size: 2.0em;
    text-shadow: .08em .08em 0 #000;
  }
.modal-dialog-center {
  padding-top:15%;
  padding-bottom:15%;
}

.touch .modal .modal-body {
    max-height: none;
}

.banner {
  margin-left: 35px;
  overflow: hidden;
  position: relative;
}

.banner ul {
  list-style: none outside none;
  float: left;
  margin: 0 0 0 0;
  padding: 0;
  position: relative;
  left: 50%;
}
.banner ul li {
  float: left;
  margin-right: 5px;
  padding: 5px;
  position: relative;
  left: -50%;
  width: 280px;
  height: 200px;
}

  .box {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    right auto;
  }

  .box-profile {
    width: 100%;
    /*height: 20%;*/
    margin-left:auto;
    margin-right:auto;

  }
  .profile-block-right, .profile-block-left {
    float: left;
  }
  .box-profile-pic{
    width: 100%;
    /*height: 100%;*/
    vertical-align: middle;
    margin-left: 0;
    background: linear-gradient(left, #d5def6 0%, #9bf2d6 100%);
    background: -webkit-linear-gradient(left, #d5def6 0%, #9bf2d6 100%);
    background: -moz-linear-gradient(left, #d5def6 0%, #9bf2d6 100%);
    background: -o-linear-gradient(left, #d5def6 0%, #9bf2d6 100%);
    background: -ms-linear-gradient(left, #d5def6 0%, #9bf2d6 100%);
  }

  .block-profile {
      color: #fff;
      background: #3cb371;
      border: 2px dashed rgba(255,255,255,0.5);
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      box-shadow: 0 0 0 5px #3cb371, 0 2px 3px 5px rgba(0,0,0,0.5);
      -moz-box-shadow: 0 0 0 5px #3cb371, 0 2px 3px 5px rgba(0,0,0,0.5);
      -webkit-box-shadow: 0 0 0 5px #3cb371, 0 2px 3px 5px rgba(0,0,0,0.5);
  }

  .profile-modal {
    font-family: 'Noto Sans Japanese', serif;
    float: left;
    margin-left: 8%;
  }

  .profile-modal-body {
    color: #383838;
    height: auto;
    width: auto;
  }

  .sponsor {
    text-align: center;
    margin-bottom: 4.5em;
  }
  .sponsor ul {
    font-size: 0;
  }
  .sponsor li {
    display: inline-block;
  }
  .sponsor-img {
    width: 240px;
    height: 95px;
    margin-left: -40px;
  }
  #header {
    font-size: 0.6em;
  }
  .modal-top-message {
    font-size: 12px;
  }
}
