@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative);

body {
  font-family: 'Noto Sans Japanese', serif;
  font-size: 17px;
  color: #fff;
  padding-top: 70px;
  background-color: #f8e2e7;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

#above-header {
  background-color: #ff6699;
  z-index: 2;
  position: fixed;
  top:0px;
  height: 5px;
}

#header {
  font-family: 'Cinzel Decorative', cursive;
  font-weight:900;
  z-index: 1;
  position: fixed;
  top:0px;
  left:0px;
  padding-top: 1.0em;
  padding-bottom: 1.0em;
  height: 3.5em;
  width: 100%;
  color: #ff6699;
  background-color: #fff;
  font-size: 0.9em;
  text-align:center;
  vertical-align: bottom;
  border-color: #ff6699;
  border-top-style: solid;
  border-width: thick;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}
#header a:link { color: #ff6699; }
#header a:visited { color: #ff6699; }
#header a:hover { color: #ff6699; }
#header a:active { color: #ff6699; }

#hooter {
  font-family: 'Cinzel Decorative', cursive;
  font-weight:300;
  z-index: 3000;
  position: relative;
  color: #ff6699;
  background-color: #fff;
  font-size: 0.6em;
  text-align:center;
  padding: 5px;
  border-color: #ff6699;
  border-top-style: solid;
  border-width: thick;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  margin-top: 10px;
  line-height: 10px;
  bottom: 0;
  width: 100%;
  position: fixed;
}
#hooter a:link { color: #ff6699; }
#hooter a:visited { color: #ff6699; }
#hooter a:hover { color: #ff6699; }
#hooter a:active { color: #ff6699; }

#top-right-header {
  z-index: 2;
  position: fixed;
  top: 5px;
  right: 10%;
}

div.navbar-collapse.collapse {
  line-height: 10px; /* There is a little space appearing at the
                        bottom, you can adjust it with this value */
  text-align: center;
}

ul.nav.navbar-nav {
  display: inline-block;
  float: none;
}

.navigation-hover:hover {
  color: #fccf26;
}

.self-nav {
  font-family: 'Cinzel Decorative', cursive;
  color: #333333;
  font-weight:900;
  font-size: 0.8em;
}

.middle-slide {
  font-family: 'Noto Sans Japanese', serif;
  font-weight:600;
  margin-top: 2.0em;
  margin-bottom: 2.0em;
}
.carousel-caption {
  font-family: 'Noto Sans Japanese', serif;
  text-shadow: .15em .15em 0 #000;
}
.small-caption {
  font-family: 'Noto Sans Japanese', serif;
  color: #ff6699;
  text-shadow: .08em .08em 0 #000;
}
.small-caption:hover {
  font-family: 'Noto Sans Japanese', serif;
  color: #ff6699;
  text-shadow: .08em .08em 0 #000;
}
.small-caption:link {
  font-family: 'Noto Sans Japanese', serif;
  color: #ff6699;
  text-shadow: .08em .08em 0 #000;
}
.small-caption:visited {
  font-family: 'Noto Sans Japanese', serif;
  color: #ff6699;
  text-shadow: .08em .08em 0 #000;
}
.small-caption:active {
  font-family: 'Noto Sans Japanese', serif;
  color: #ff6699;
  text-shadow: .08em .08em 0 #000;
}
.carousel-image {
  width: 100%;
  height:100%;
}
#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #fff;
  z-index: 4000;
}
#loader {
  display: none;
  position: fixed;
  font-family: 'Cinzel Decorative', cursive;
  font-weight:300;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #ff6699;
  z-index: 5000;
}
.box {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  right auto;
}

/*
.btn {
    background: -moz-linear-gradient(top,#0099CC 0%,#006699);
    background: -webkit-gradient(linear, left top, left bottom, from(#0099CC), to(#006699));
    border: 1px solid #DDD;
    color:#FFF;
    width: 100px;
    padding: 10px 0;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
*/
.block-profile {
    color: #fff;
    background: #3cb371;
    padding: 20px;
    border: 2px dashed rgba(255,255,255,0.5);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 0 0 5px #3cb371, 0 2px 3px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 0 5px #3cb371, 0 2px 3px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 0 5px #3cb371, 0 2px 3px 5px rgba(0,0,0,0.5);
}

/* Base Button Style */
.btn {
  position: relative;
  display: block;
  width: 250px;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transform-style: flat;
  transition: all 250ms ease-out;
}
.btn:before, .btn:after {
  content: "";
  position: absolute;
  z-index: -2;
  transition: all 250ms ease-out;
}

/* Paper effect – slightly raised off background */
.paper {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border-color: #dedede;
  background-color: #65c0c3;
  color: white;
}
.paper-curl-right:before,
.paper-curl-right:after {
  bottom: 12px;
  width: 50%;
  height: 55%;
  max-width: 200px;
  max-height: 100px;
  box-shadow: 1px 8px 12px rgba(31, 31, 31, 0.6);
}
.paper-curl-right:before {
  left: 10px;
}
.paper-curl-right:after {
  right: 10px;
}
.paper-curl-right:hover:before,
.paper-curl-right:hover:after {
  box-shadow: 1px 8px 12px rgba(31, 31, 31, 0.8);
}
.paper-curl-right:hover:before {
  transform: skew(-8deg) rotate(-3deg);
}
.paper-curl-right:hover:after {
  transform: skew(8deg) rotate(3deg);
}
.paper-curl-right:before {
  display: none;
}
.paper-curl-right:hover {
  border-radius: 0 0 40% 0 / 0 0 30% 0;
  color: #fccf26;
}

.box-profile {
  width: 50%;
  height: 50%;
  padding: 5px;
  margin-bottom: 2.5em;
}
.profile-block-right, .profile-block-left {
  float: left;
}
.box-profile-pic{
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-left: 10px;
  vertical-align: middle;
  background: linear-gradient(left, #d5def6 0%, #9bf2d6 100%);
  background: -webkit-linear-gradient(left, #d5def6 0%, #9bf2d6 100%);
  background: -moz-linear-gradient(left, #d5def6 0%, #9bf2d6 100%);
  background: -o-linear-gradient(left, #d5def6 0%, #9bf2d6 100%);
  background: -ms-linear-gradient(left, #d5def6 0%, #9bf2d6 100%);
}
.box-stop{
  clear: both;
}
.profile-box {
  float: left;
}

.company-name {
  margin: 10%;
  text-align: center;
  font-family: 'Noto Sans Japanese', serif;
  font-size: 30px;
  color: #333333;
}
.company-detail {
  margin: 10%;
  text-align: center;
  font-family: 'Noto Sans Japanese', serif;
  font-size: 30px;
  color: #333333;
}
.company-content {
  margin: 10%;
  text-align: center;
  font-family: 'Noto Sans Japanese', serif;
  font-size: 30px;
  color: #333333;
}

.modal-top-message {
  font-family: 'Noto Sans Japanese', serif;
  font-size: 16px;
  color: #383838;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  border-bottom: 2px dotted gray;
}
.modal-top-message:hover {
  font-family: 'Noto Sans Japanese', serif;
  color: #65c0c3;
  text-decoration: none;
}
.modal-top-message:link {
  font-family: 'Noto Sans Japanese', serif;
  color: #383838;
  text-decoration: none;
}
.modal-top-message:visited {
  font-family: 'Noto Sans Japanese', serif;
  color: #383838;
  text-decoration: none;
}
.modal-top-message:active {
  font-family: 'Noto Sans Japanese', serif;
  color: #383838;
  text-decoration: none;
}
.modal-character {
  font-family: 'Noto Sans Japanese', serif;
  color: #383838;
}
.modal-character:hover {
  font-family: 'Noto Sans Japanese', serif;
  color: #65c0c3;
}
.modal-original-content {
  color: #383838;
  text-decoration: none;
}
.modal-original-content img {
  padding-left:auto;
  padding-right:auto;
}

.nav-detail-icon:hover {
  color: #fccf26;
}
.sponsor {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4.5em;
}
.sponsor ul {
  font-size: 0;
}
.sponsor li {
  display: inline-block;
}
.sponsor-img {
  width: 330px;
  height: 120px;
}

.profile-div {
  float: left;
  text-align: center;
  margin-top: 2.0em;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 4.5em;
}

.profile-modal {
  font-family: 'Noto Sans Japanese', serif;
  float: left;
}

.profile-modal-body {
  color: #383838;
  height: auto;
  width: auto;
}

.bar-detail {
  font-family: 'Noto Sans Japanese', serif;
  font-size: 17px;
  color: #666;
  padding-top: 70px;
  background-color: #f8e2e7;
}

.groundimage {
  width:  100%;
	height:  900px;
	background-image:  url("../images/fc2.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	-moz-background-size:  cover;
	background-size: cover;
  z-index: 3;
  background-attachment:fixed;
}

.layerTransparent {
	background-color:	rgba(255,255,255,0.5);
	height:	900px;
}

.topSection {
  width:  100%;
	height:  900px;
  position: relative;
}
.topMessages {
  width:  100%;
	height:  900px;
  /*background-image: url("../images/top.jpg");*/
  background-repeat: no-repeat;
	background-position: top center;
	-moz-background-size:  cover;
	background-size: cover;
  -webkit-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.layerTransparentTopMessages {
	background-color: rgba(0,0,0,0.2);
  width: 100%;
	height: 900px;
  color: #fff;
  text-align: right;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 1px #666,
  -2px 2px 1px #666,
  2px -2px 1px #666,
  -2px -2px 1px #666;
  padding-right: 20px;
  padding-top: 20px;
  position: absolute;
  bottom: 0px;
}

.leftLayerTransparentTopMessages {
	background-color: rgba(0,0,0,0.2);
	height: 900px;
  color: #fff;
  text-align: left;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 1px #666,
  -2px 2px 1px #666,
  2px -2px 1px #666,
  -2px -2px 1px #666;
  padding-left: 20px;
  padding-top: 20px;
}

.bottomLayerTransparentTopMessages {
	background-color: rgba(0,0,0,0.2);
	height: 900px;
  color: #fff;
  text-align: left;
  vertical-align: middle;
  z-index: -1;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 1px #666,
  -2px 2px 1px #666,
  2px -2px 1px #666,
  -2px -2px 1px #666;
  padding-left: 20px;
  padding-top: 20px;
}

.interval {
  height: 100px;
  width: 100%;
  background-color:#000000;
  opacity: 0;
}

.topSection {
  width:  100%;
	height:  400px;
  position: relative;
}
.firstShop {
  width:  100%;
	height:  900px;
  background-image: url("../images/fc2.jpg");
  background-repeat: no-repeat;
	background-position: top center;
	-moz-background-size:  cover;
	background-size: cover;
}

.secondShop {
  width:  100%;
	height:  700px;
  background-image: url("../images/takunomi.png");
  background-repeat: no-repeat;
	background-position: top center;
	-moz-background-size:  cover;
	background-size: cover;
  z-index: 2;
}

.initialNumber{
  font-size: 30px;
  font-style: italic;
  text-shadow: 2px 2px 1px #ff6699,
  -2px 2px 1px #ff6699,
  2px -2px 1px #ff6699,
  -2px -2px 1px #ff6699;
}
.yellowInitialNumber{
  font-size: 25px;
  font-style: italic;
  text-shadow: 2px 2px 1px #daa520,
  -2px 2px 1px #daa520,
  2px -2px 1px #daa520,
  -2px -2px 1px #daa520;
}

.topBarMessage{
  font-size: 25px;
  font-style: italic;
  text-shadow: 2px 2px 1px #ff6699,
  -2px 2px 1px #ff6699,
  2px -2px 1px #ff6699,
  -2px -2px 1px #ff6699;
}

.barName{
  font-size: 40px;
  font-style: italic;
  text-shadow: 2px 2px 1px #daa520,
  -2px 2px 1px #daa520,
  2px -2px 1px #daa520,
  -2px -2px 1px #daa520;
}

.nextNumber{
  font-style: italic;
  text-shadow: 2px 2px 1px #daa520,
  -2px 2px 1px #daa520,
  2px -2px 1px #daa520,
  -2px -2px 1px #daa520;
}

.btn-event {
  font-family: 'Noto Sans Japanese', serif;
  font-weight: bold;
  font-size: 1.4em;
  background-color: #ff6699;
  color: #000;
  text-shadow: none;
  margin-right: 30px;
  padding: 5px;
  border:0;
}

.shop-table {
  margin-top: 30px;
  margin-left: -15px;
  margin-right: 5px;
}

.identification {
  color:red;
  text-shadow: none;
}

.ggmap {
position: relative;
margin-top: 30px;
padding-bottom: 56.25%;
padding-top: 30px;
overflow: hidden;
width: 70%;
max-width: 400px;
max-height: 400px;
text-align: center;
margin-left: auto;
margin-right: auto;
}

.ggmap iframe,
.ggmap object,
.ggmap embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
max-height: 400px;
}

table.price {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 1px 0;
    font-size: 15px;
}
table.price th,
table.price td {
    padding: 10px;
}
table.price th {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4) inset;
    background: rgba(0,0,0,0.4);
    vertical-align: middle;
    text-align: center;
    width: 125px;
    height: 50px;
    position: relative;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-size: 24px;
}

table.price th.c1 {
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 1%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 1%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.4) 1%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.4) 1%,rgba(0,0,0,0.4) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.4) 1%,rgba(0,0,0,0.4) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61ae24', endColorstr='#569b20',GradientType=0 ); /* IE6-9 */*/
}

table.price th.c2 {
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 1%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 1%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.4) 1%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.4) 1%,rgba(0,0,0,0.4) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.4) 1%,rgba(0,0,0,0.4) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc1445', endColorstr='#b6113d',GradientType=0 ); /* IE6-9 */*/
}

table.price th:after {
    top: 69px;
    left: 5px;
    content: &quot;&quot;;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 78px solid transparent;
}
/* firefox */
@-moz-document url-prefix() {
    table.price th {
        text-indent: 10px;
    }
    table.price th::after {
        padding: 0;
        top: 60px;
        left: 0;
        content: &quot;&quot;;
        height: 0;
        width: 0;
        position: relative;
        pointer-events: none;
        border: 50px solid transparent;
        border-top: #B7D567 15px solid;
    }
}

table.price th.c1:after {
    border-top: black 15px solid;
}
table.price th.c2:after {
    border-top: black 15px solid;
}

table.price td {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4) inset;
    text-align: center;
    padding-top: 15px;
    border: none;
    height: 70px;
}

table.price tr:nth-child(2n+1) td.c1 {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4) inset;
    background: rgba(0,0,0,0.4);
}
table.price tr:nth-child(2n+0) td.c1 {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4) inset;
    background: rgba(0,0,0,0.4);
}

table.price tr:nth-child(2n+1) td.c2 {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4) inset;
    background: rgba(0,0,0,0.4);
}
table.price tr:nth-child(2n+0) td.c2 {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4) inset;
    background: rgba(0,0,0,0.4);
}

table.price tr:last-child td {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4) inset;
}

.btn-review {
  text-align: center;
  font-family: 'Noto Sans Japanese', serif;
  font-weight: bold;
  font-size: 18px;
  background-color: #fff;
  color: #ff6699;
  text-shadow: none;
  padding: 5px;
  border:10px;
  box-shadow:none;

}
.btn-review a:link { color: #ff6699; }
.btn-review a:visited { color: #ff6699; }
.btn-review a:hover { color: #ff6699; }
.btn-review a:active { color: #ff6699; }

@media screen and (max-width: 479px) {
  .c1 {
    font-size: 12px;
  }
  .c2 {
    font-size: 12px;
  }
  .initialNumber{
    font-size: 20px;
    font-style: italic;
    text-shadow: 2px 2px 1px #ff6699,
    -2px 2px 1px #ff6699,
    2px -2px 1px #ff6699,
    -2px -2px 1px #ff6699;
  }
  .yellowInitialNumber{
    font-size: 15px;
    font-style: italic;
    text-shadow: 2px 2px 1px #daa520,
    -2px 2px 1px #daa520,
    2px -2px 1px #daa520,
    -2px -2px 1px #daa520;
  }
  .layerTransparentTopMessages {
  	background-color: rgba(0,0,0,0.2);
    width: 100%;
  	height: 400px;
    color: #fff;
    text-align: right;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 2px 2px 1px #666,
    -2px 2px 1px #666,
    2px -2px 1px #666,
    -2px -2px 1px #666;
    padding-right: 20px;
    padding-top: 20px;
    position: absolute;
    bottom: 0px;
  }

  .leftLayerTransparentTopMessages {
  	background-color: rgba(0,0,0,0.2);
  	height: 600px;
    color: #fff;
    text-align: left;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 2px 2px 1px #666,
    -2px 2px 1px #666,
    2px -2px 1px #666,
    -2px -2px 1px #666;
    padding-left: 20px;
    padding-top: 20px;
  }

  .bottomLayerTransparentTopMessages {
  	background-color: rgba(0,0,0,0.2);
  	height: 600px;
    color: #fff;
    text-align: left;
    vertical-align: middle;
    z-index: -1;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 2px 2px 1px #666,
    -2px 2px 1px #666,
    2px -2px 1px #666,
    -2px -2px 1px #666;
    padding-left: 20px;
    padding-top: 20px;
  }

  .firstShop {
    width:  100%;
  	height:  600px;
    /*background-image: url("../images/fc2.jpg");*/
    background-repeat: no-repeat;
  	background-position: top center;
  	-moz-background-size:  cover;
  	background-size: cover;
  }

  .secondShop {
    width:  100%;
  	height:  700px;
    background-image: url("../images/takunomi.png");
    background-repeat: no-repeat;
  	background-position: top center;
  	-moz-background-size:  cover;
  	background-size: cover;
    z-index: 2;
  }

  .groundimage {
    width:  100%;
  	height:  1600px;
  	background-image:  url("../images/fc2.jpg");
  	background-repeat: no-repeat;
  	background-position: top center;
  	-moz-background-size:  cover;
  	background-size: cover;
    z-index: 3;
    background-attachment:fixed;
  }

  .layerTransparent {
  	background-color:	rgba(255,255,255,0.5);
  	height:	3000px;
  }

  .barName{
    font-size: 30px;
    font-style: italic;
    text-shadow: 2px 2px 1px #daa520,
    -2px 2px 1px #daa520,
    2px -2px 1px #daa520,
    -2px -2px 1px #daa520;
  }
  #header {
    font-size: 0.6em;
  }
}
