/* line 5, top.scss */
.opening {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
}
/* line 12, top.scss */
.opening span {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 19, top.scss */
.opening .lastname, .opening .firstname {
  top: 48%;
}
/* line 23, top.scss */
.opening .lastname img {
  margin-right: 155px;
}
/* line 28, top.scss */
.opening .firstname img {
  margin-left: 155px;
}
/* line 32, top.scss */
.opening .website {
  top: 52%;
}
